<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Discuss" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>window.userToken = "<%= assigns[:user_token] %>";</script>
  </head>
  <body>
    <header>
      <section class="container app-header">
        <nav role="navigation">
            <ul>
              <%= if @conn.assigns[:user] do %>
                <li>
                  <%= link "Log Out", to: Routes.auth_path(@conn, :signout) %>
                </li>
              <% else %>
                <li>
                  <%= link "Sign in with Github", to: Routes.auth_path(@conn, :request, "github") %>
                </li>
              <% end %>
            </ul>
        </nav>
      <a href="/" class="phx-logo">
        Discussions
      </a>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
