<%= link "← All posts" , to: Routes.topic_path(@conn, :index)%>

    <h1>
        <%= @post.title %>
    </h1>

    <p>
        <time>
            <%= @post.date %>
        </time> by <%= @post.author %>
    </p>

    <p>
        Tagged as <%= Enum.join(@post.tags, ", " ) %>
    </p>

    <%= raw @post.body %>

    <div class="input-field">
        <textarea class="materialize-textarea"></textarea>
        <button class="btn">Add Comment</button>
        <ul class="collection">
    
        </ul>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            window.createSocket(<%= @post.id %>);
        });
    </script>